<h1 class="mt-5">Pipes <small>Angular</small> </h1>
<hr>

<div class="row">
  <div class="col">
    <table class="table text-center">
      <thead class="thead-dark">
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Salida</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> {{ name2 }} </td>
          <td>capitalize</td>
          <td> {{ name2 | capitalize }} </td>
        </tr>
        <tr>

          <td> {{ name }} </td>
          <td>uppercase</td>
          <td> {{ name | uppercase }} </td>
        </tr>

        <tr>
          <td> {{ name }} </td>
          <td>lowercase</td>
          <td> {{ name | lowercase }} </td>
        </tr>

        <tr>
          <td> {{ name }} </td>
          <td>slice:3</td>
          <td> {{ name | slice:3 }} </td>
        </tr>

        <tr>
          <td> {{ name }} </td>
          <td>slice:0:3</td>
          <td> {{ name | slice:0:3 }} </td>
        </tr>

        <tr>
          <td> {{ arr }} </td>
          <td>slice:1:5</td>
          <td> {{ arr | slice:1:5 }} </td>
        </tr>

        <tr>
          <td> {{ PI }} </td>
          <td> number:'3.0-0' </td>
          <td> {{ PI | number:'3.0-0' }} </td>
        </tr>

        <tr>
          <td> {{ PI }} </td>
          <td> number:'.0-2' </td>
          <td> {{ PI | number:'.0-2' }} </td>
        </tr>

        <tr>
          <td> {{ percent }} </td>
          <td> percent </td>
          <td> {{ percent | percent }} </td>
        </tr>
        
        <tr>
          <td> {{ percent }} </td>
          <td> percent:'2.2-2' </td>
          <td> {{ percent | percent:'2.2-2' }} </td>
        </tr>

        <tr>
          <td> {{ money }} </td>
          <td> currency  </td>
          <td> {{ money | currency }} </td>
        </tr>

        <tr>
          <td> {{ money }} </td>
          <td> currency:'EUR ' </td>
          <td> {{ money | currency:'EUR' }} </td>
        </tr>
        
        <tr>
          <td> {{ money }} </td>
          <td> currency:'CAD':'symbol-narrow':'.0-0' </td>
          <td> {{ money | currency:'CAD':'symbol-narrow':'.0-0' }} </td>
        </tr>

        <tr>
          <td> {{ valuePromise }} </td>
          <td> async </td>
          <td> {{ valuePromise | async }} </td>
        </tr>
        
        <tr>
          <td> {{ date }} </td>
          <td> date </td>
          <td> {{ date | date }} </td>
        </tr>

        <tr>
          <td> {{ date }} </td>
          <td> date:'medium' </td>
          <td> {{ date | date:'medium' }} </td>
        </tr>

        <tr>
          <td> {{ date }} </td>
          <td> date:'short' </td>
          <td> {{ date | date:'short' }} </td>
        </tr>

        <tr>
          <td> {{ date }} </td>
          <td> date:'MMMM-dd' </td>
          <td> {{ date | date:'MMMM-dd' }} </td>
        </tr>

        <tr>
          <td> {{ date }} </td>
          <td> date:'MMMM-dd':'': {{ language }} 
            <br>
            <button (click)="language='es'" class="mr-2 btn btn-primary" >Español</button>
            <button (click)="language='en'" class="mr-2 btn btn-secondary" >Inglés</button>
            <button (click)="language='fr'" class="mr-2 btn btn-success" >Francés</button>
          </td> 
          <td> {{ date | date:'MMMM-dd':'':language }} </td>
        </tr>
        <tr>
          <td> {{ name }} </td>
          <td>
            password: {{ active }}
            <br>
            <button
              (click)="active = !active" 
              class="btn btn-outline-primary">
              Activar/Desactivar
            </button> 
          </td>
          <td> {{ name | password:active }} </td>
        </tr>
      </tbody>
    </table>
  </div>

  
</div>
  <hr>
  <h4>slice:5:20</h4>
  <ul>
    <li *ngFor="let item of arr | slice:5:20 " > {{ item }} </li>
  </ul>
  <hr>
  <h3>JSON</h3>
  <hr>
  <div class="row mb-5">
    <div class="col">
      <pre>
        {{ user | json }}
      </pre>
    </div>
  </div>

  <h3 class="mt-2">Domseguro</h3>
  <hr>
  <div class="row mb-5">
    <div class="col">
      <iframe 
        width="560" 
        height="315" 
        [src]="videoURL | securedom" 
        frameborder="0" 
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen
      ></iframe>
    </div>

  </div>